<div class="container-fluid">
	<div class="row">
		<div class="col-lg-8 col-md-7">
			<div class="card">
				<div class="header">
					<h4 class="title">Register</h4>
				</div>
				<div class="content">
					<form [formGroup]="registerForm">
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									<label>Username</label>
									<input type="text" [formControl]="registerForm.controls['username']" class="form-control border-input" placeholder="Username" value="">
									<div *ngIf="registerForm.controls['username'].hasError('required') && submitted" class="alert alert-danger">Enter user name.</div>          
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label for="exampleInputEmail1">Email address</label>
									<input type="email" [formControl]="registerForm.controls['email']" class="form-control border-input" placeholder="Email">
									<div *ngIf="registerForm.controls['email'].hasError('required') && submitted" class="alert alert-danger">Enter email Addresss.</div>          
								</div>
							</div>
							
								<div class="col-md-5">
									<div class="form-group">
										<label>Password</label>
										<input type="password" [formControl]="registerForm.controls['password']" class="form-control border-input"  placeholder="Password" value="">
										<div *ngIf="registerForm.controls['password'].hasError('required') && submitted" class="alert alert-danger">Enter password.</div>          
									</div>
								</div>
								<div class="col-md-5">
									<div class="form-group">
										<label>Confirm Password</label>
										<input type="password" [formControl]="registerForm.controls['confirm_password']" class="form-control border-input"  placeholder="Confirm Password" value="">
										<div *ngIf="registerForm.controls['confirm_password'].hasError('required') && submitted" class="alert alert-danger">Enter confirm password.</div>
									    <div class="alert alert-danger" *ngIf="!registerForm.controls['password'].hasError('required') && !registerForm.controls['confirm_password'].hasError('required') && registerForm.controls['confirm_password'].errors && submitted">Password not match</div>

									</div>
								</div>
						   
                        </div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>First Name</label>
									<input type="text" [formControl]="registerForm.controls['first_name']" class="form-control border-input" placeholder="First Name" value="">
									<div *ngIf="registerForm.controls['first_name'].hasError('required') && submitted" class="alert alert-danger">Enter first name.</div>          
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Last Name</label>
									<input type="text" [formControl]="registerForm.controls['last_name']" class="form-control border-input" placeholder="Last Name" value="">
									<div *ngIf="registerForm.controls['last_name'].hasError('required') && submitted" class="alert alert-danger">Enter last name.</div>          
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label>Address</label>
									<input type="text" [formControl]="registerForm.controls['address']" class="form-control border-input" placeholder="Address" value="">
									<div *ngIf="registerForm.controls['address'].hasError('required') && submitted" class="alert alert-danger">Enter address.</div>          
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>City</label>
									<input type="text" [formControl]="registerForm.controls['city']" class="form-control border-input" placeholder="City" value="">
									<div *ngIf="registerForm.controls['city'].hasError('required') && submitted" class="alert alert-danger">Enter city name.</div>          
								</div>
							</div>
  
                            <div class="col-md-6">
								<div class="form-group">
									<label>State</label>
									<input type="text" [formControl]="registerForm.controls['state']" class="form-control border-input" placeholder="State" value="">
									<div *ngIf="registerForm.controls['state'].hasError('required') && submitted" class="alert alert-danger">Enter state name.</div>          
								</div>
						    </div>
						</div>
												
						<div class="text-center">
							<button type="button" (click)="register()" class="btn btn-info btn-fill btn-wd">Submit</button>
						</div>
						
						<div class="clearfix"></div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
