<div class="container-fluid">
	<div class="row">
		<div class="col-lg-8 col-md-7">
			<div class="card">
				<div class="header">
					<h4 class="title">Login</h4>
				</div>
				<div class="content">
					<form [formGroup]="loginForm">
					
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label>User Name</label>
									<input type="text" [formControl]="loginForm.controls['username']" class="form-control border-input" placeholder="User Name" value="">
									<div *ngIf="loginForm.controls['username'].hasError('required') && submitted" class="alert alert-danger">Enter Username.</div>          
								</div>
							</div>
						</div>
						
                        <div class="row">						
							<div class="col-md-12">
								<div class="form-group">
									<label for="exampleInputEmail1">Password</label>
									<input type="pasword" [formControl]="loginForm.controls['password']" class="form-control border-input" placeholder="Password" value="">
									<div *ngIf="loginForm.controls['password'].hasError('required') && submitted" class="alert alert-danger">Enter password.</div>          
								</div>
							</div>
						</div>
                        
						<div class="text-center">
							<button type="button" (click)="login()" class="btn btn-info btn-fill btn-wd">Submit</button>
						</div>
						<div class="clearfix"></div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
